@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --color1: #00ff37;
    --color2: #ff00ea;
    --max-width: 1440px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea,
button {
  border: 1px solid #000000;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #1b7aff;
    border-radius: 9999px;
    border: 2px solid #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #1f2937;
  }

  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #1b7aff #f1f1f1;
    direction: rtl; /* Scrollbar appears on the left in WebKit browsers */
  }

  /* Force content to render normally while direction is rtl */
  .custom-scrollbar > * {
    direction: ltr;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
